.authentication-form {
  width: 100vw;
  height: 100vh;
  background: {
    image : url('../images/background-image.jpg');
    size: cover;
    position: center;
    attachment: fixed;
  };
  .content-frame {
    height : 100vh;
    background: white;
    .on{
      font-weight: 600;
    }
    .log-in-with{
      font-family: 'Krub', sans-serif;
      font-size: 1em;
      color: #EDEDED;
      text-transform: uppercase;
    }
    .header{
        h1{
          text-transform: uppercase;
          &.sign-in{
            background: linear-gradient(to left, $primary-color, #50a0ca);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
          }
          &.sign-up{
            background: linear-gradient(to left, #50a0ca, #3a7bd5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
          }
        }

    }
    svg{
      text{
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
    .title {
      font-size: 2.250em;
      font-family: 'Krub', sans-serif;

      &:first-letter {
        text-transform: capitalize;
      }
    }
    .submit-button {
      font-size: 1.1em;
      font-weight: 300;
      border-radius: 50px;
      text-transform: uppercase;
      color: white;
      position: relative;
      text-decoration: none;
      -webkit-backface-visibility: hidden;
      z-index: 1;
      border : none;
      span{
        position : relative;
        z-index: 300;
      }
      &:focus{
        outline: 0;
      }
    }
    .sign-in-button{
      background: linear-gradient(to left, $primary-color, #50a0ca);
    }
    .sign-up-button{
      background: linear-gradient(to left, #50a0ca, #3a7bd5);
    }
    .submit-button:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      transition: opacity 0.5s ease-out;
      z-index: 2;
      opacity: 0;
    }
    .sign-in-button:after{
      background: linear-gradient(to left, #50a0ca, $primary-color);
    }
    .sign-up-button:after{
      background: linear-gradient(to left, #3a7bd5, #50a0ca);
    }
    .submit-button:hover:after {
      opacity: 1;
    }
    .submit-button:hover{
      cursor: pointer;
    }
    label, input {
      transition: all 0.2s;
      touch-action: manipulation;
      font-family: Krub;
      font-weight: 400;
    }
    input {
      padding-left: 0.25em;
      font-size: 1.2em;
      border: 0;
      border-bottom: 1px solid $silver;
      font-family: 'Krub', sans-serif;
      font-weight: 300;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: text;
      &:focus{
        outline: 0;
      }
    }

    label {
      font-family: 'Krub', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding-left: 0.25em;
    }
    input:placeholder-shown + label {
      cursor: text;
      max-width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(0, 2.125rem) scale(1.5);
    }
    /**
    * By default, the placeholder should be transparent. Also, it should
    * inherit the transition.
    */
    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }
    /**
    * Show the placeholder when the input is focused.
    */
    input:focus::-webkit-input-placeholder {
      opacity: 1;
    }
    /**
    * When the element is focused, remove the label transform.
    * Also, do this when the placeholder is _not_ shown, i.e. when
    * there's something in the input at all.
    */
    input:not(:placeholder-shown) + label,
    input:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
    }

    ::-webkit-input-placeholder { /* Edge */
      font-family: 'Krub', sans-serif;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-family: 'Krub', sans-serif;
    }

    ::placeholder {
      font-family: 'Krub', sans-serif;
      padding-left: 0.25em;
      font-size: 1em;
    }
    .field {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 1em;
      position: relative;
      z-index: 500;
      input:not(:placeholder-shown) + label,
      input:focus + label {
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
    }
    .sign-in-field {
      input:not(:placeholder-shown) + label,
      input:focus + label {
        color: $primary-color;
      }
      input:focus {
        border-bottom: 1px solid $primary-color;
      }
      .forgotten{
        color: $primary-color;
      }
    }
    .sign-up-field{
      input:not(:placeholder-shown) + label,
      input:focus + label {
        color:  #3a7bd5;
      }
      input:focus {
        border-bottom: 1px solid #3a7bd5;
      }
    }
    .sign-in-with{
      svg{
        width : 35px;
        height : auto;
      }
      border-radius: 50px;
    }

  }
}
@include media-breakpoint-down(md) {
  .authentication-form {
    height: 100vh;
    .content-frame {
      .sign-up-container{
        width: 100%;
      }
      .sign-in-container{
        width: 100%;
      }
      .overlay-container{
        display : none;
      }
    }
  }
}



.forgotten{
  font-weight: 300;
  color: $primary-color;
  &:hover{
    cursor: pointer;
  }
}
.sign-in-with{
  &:hover{
    cursor: pointer;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}




.st0{fill:#2C393F;}
.st1{font-family:'Krub-Bold';}
.st2{font-size:329.4049px;}
.st3{fill:#00C7C7;}
hr{
  border-top: 1px solid #EDEDED !important;
}
.choose{
  border-radius: 25px;
  p{
    text-transform: uppercase;
    &.on{
      text-transform: uppercase;
      background:  linear-gradient(to left, #50a0ca, #3a7bd5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

}
.ss{
  background: white;
}
