.home{
    .work-options{
        font-family: 'Montserrat';
        height: 100%;
        color: #2C393F;

        .work-option{

            .content{
                height: auto;
            }
        }
        .work-option-image-wrapper{
            position: relative;
        }
        .work-option-image{
            max-width: 100%;
            border-radius: 29px 29px 0 0;
        }
        .work-option-save{
            position: absolute;
            top: 85%;
            right: .9rem;
        }
        .work-option-edit{
            position: absolute;
            top: 85%;
            right: 2.3rem;
        }
        .work-option-content{
            position: relative;
            width: 70%;
            margin: 0 auto;

            .work-option-new{
                width: 4em;
                padding: 1em 0;
                font-size: 13px;
                font-weight: 500;
                background: #00C7C7;
                color: #FFFFFF;
                border-radius: 50%;
                position: absolute;
                top: -5%;
                right: calc(-30% - 1em);
            }
            .work-option-title{
                font-size: 19px;
            }
            .work-option-description{
                font-size: 15px;
                line-height: 18px;
            }
            .work-option-info{
                font-size: 11px;

                svg{
                    margin-right: 15px;
                }
            }
        }

    }
    .home-button{
        font-size: 1.1em;
        font-weight: 300;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 1;
        border: none;
        background: #ffffff;
    }
    .advertisement-info-wrapper{
        position: absolute;
        z-index: 10;
        background: rgba(255,255,255, .8 );
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-family: 'Montserrat';
        color: #2C393F;
        display:block;

        .advertisement-info-box{
            background: #fff;
            min-height: 90vh;
            width: 100%;
            border-radius: 29px;
        }
        .advertisement-info-image{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 29px 0px 0px 29px;
        }
        .advertisement-info-tags{

            .advertisement-info-tag{
                font-size: 1em;
                font-weight: 300;
                border-radius: 50px;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 1;
                border: none;
                background: #ffffff;
            }
        }
        .advertisement-info-description{
            width: 80%;
            margin:0 auto;
            word-break: break-all;
            font-size: 1em;
        }
       
        .border-b{
            border-bottom: 1px solid $silver;
        }
        .border-b-res{
            @media (max-width: $break-m){
                border-bottom: 1px solid $silver;
              }
        }
        
        .cross{
            text-align: center;
        }
        .advertisement-info-branches,.advertisement-info-additional,.advertisement-info-description{
            font-weight: 500;
        }
        .advertisement-info-additional,.advertisement-info-branches{
            font-size: 1em;
        }
        .advertisement-info-branches{
            font-size: 1.2em;
            word-break: normal;
            @media (min-width: $break-xl){
                font-size: 1.3em;
            }
        }
        
        
    }
    .advertisement-create-wrapper{
        position: absolute;
        z-index: 10;
        background: rgba(255,255,255, .8 );
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-family: 'Montserrat';
        color: #2C393F;

        .advertisement-create-box{
            background: #fff;
            min-height: 90vh;
            width: 100%;
            border-radius: 29px;
        }
        .branches{

            .branch{
                font-size: 1em;
                font-weight: 300;
                border-radius: 50px;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 1;
                border: none;
                background: #ffffff;
            }
            .list{
                overflow-y: auto;
                max-height: 60vh;

                @media screen and (max-width: $break-l){
                    overflow-y: hidden;
                    overflow-x: scroll;
                    max-height: 5em;
                    white-space: nowrap;
                    width:133.33333333%;
                    .branch{
                        display: inline-block;
                    }
                }
            }
        }
        .h10{
            height: 10%;
        }
        .h90{
            height: 90%;
        }
        input,.input{
            background: $silver;
            border : none;
            color: $secondary-color;
            border-radius : 27px;
            height: 3em;
            &:focus{
              outline: 0;
            }
            &[type="text"]{
              text-transform : capitalize;
              &:hover{
                cursor: text;
              }
            }
        }
          textarea{
            background: $silver;
            border : none;
            color: $secondary-color;
            border-radius : 27px;
            &:focus{
              outline: 0;
            }
          }
    }
    .submit-button {
        font-size: 1.1em;
        font-weight: 300;
        border-radius: 50px;
        text-transform: uppercase;
        color: white;
        position: relative;
        text-decoration: none;
        -webkit-backface-visibility: hidden;
        z-index: 1;
        border: none;

        span {
          position: relative;
          z-index: 300;
        }

        &:focus {
          outline: 0;
        }

        &:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            transition: opacity 0.5s ease-out;
            z-index: 2;
            opacity: 0;
        }

        &:hover:after{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }
        
    }

    .sign-in-button {
        background: linear-gradient(to left, $primary-color, #3a7bd5);
        margin:0 auto;

        &:after{
            background: linear-gradient(to right, $primary-color, #3a7bd5);
        }
    }
    .border-r{
          border-right: 1px solid $silver;
          @media (max-width: $break-m){
            border: none;
          }
    }
    .strong{
        font-weight: bold;
    }
    .scroll::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px $silver;
        border-radius: 10px;
        background-color: transparent;
    }

    .scroll::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    .scroll::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px $silver;
        background-color: $silver;
    }
    .bold{
        font-weight: 500;
    }
    .colorful-text{
        background: linear-gradient(to left, $primary-color 0%, #3a7bd5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0.0001);
        border-radius: 27px;
        &.on{
            -webkit-background-clip: unset;
            -webkit-text-fill-color: white;
        }
    }
    .input-tag{
        height: 1.5em;
        background: #FFFFFF;
        border-radius: 29px;
    }
}


