.home{
    
    .slick-arrow{
        transform: scale(5);
    }
    @media (max-width: $break-m){
        .slick-arrow{
            transform: scale(3);
        }
        .slick-next{
            right: 18px;
        }
        .slick-prev{
            left: 18px;
        }
    }
    .content{
        @media (max-width: $break-m){
            border-radius: 0!important;
        }
    }
    .menu-svg{
        width: 40px;
        height: 40px;
    }
    
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    .work-options{
        font-family: 'Montserrat', serif;
        height: 100%;
        color: #2C393F;
        .work-option{
            .content{
                height: auto;
                @media (max-width: $break-m){
                    border-radius: 27px!important;
                }
            }
        }
        .work-option-image-wrapper{
            position: relative;
        }
        .work-option-image{
            max-width: 100%;
            border-radius: 29px 29px 0 29px;
        }
        .work-option-save{
            position: absolute;
            top: 85%;
            right: .9rem;
        }
        .work-option-edit{
            position: absolute;
            top: 85%;
            right: 2.3rem;
        }
        .work-option-content{
            position: relative;
            .work-option-new{
                width: 4em;
                padding: 1em 0;
                font-size: 13px;
                font-weight: 500;
                background: #00C7C7;
                color: #FFFFFF;
                border-radius: 50%;
                position: absolute;
                top: 3%;
                right: -1.5em;
                @media (max-width: 1100px){
                    right: -1em;
                 }
            }
            .work-option-title{
                font-size: .95em;
                word-break: break-word;
            }
            .work-option-description{
                font-size: .8em;
                line-height: 18px;
            }
            .work-option-info{
                font: 0.65em Montserrat;
                font-weight: 500;
                svg{
                    margin-right: 15px;
                }
            }
        }

    }
    .home-button{
        font-size: 1.1em;
        font-weight: 300;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 1;
        border: none;
        background: #ffffff;
    }
    .offer-info-wrapper{
        position: absolute;
        z-index: 10;
        background: rgba(255,255,255, .8 );
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-family: 'Montserrat';
        color: #2C393F;
        display:block;
        @media (max-width: $break-m){
            .offer-info-box{
                width: 100vw;
                border-radius:0!important;
                margin: 0!important;
            }
            

         }
        .offer-info-new{
            width: 4em;
            height: 4em;
            padding: 1.2em 0;
            font-size: 1.2em;
            font-weight: 500;
            background: #00C7C7;
            color: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            top: -2em;
            left: -2em;
            @media (max-width: $break-l){
                top: -1.5em;
                left: 65%;
            }
            @media (max-width: $break-m){
                display: none;
            }
        }
        .new-box{
            position: relative;
        }
        .offer-info-box{
            background: #fff;
            min-height: 90vh;
            width: 100%;
            border-radius: 29px;
        }
        .offer-info-image{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 29px 0px 0px 29px;
        }
        .offer-info-tags{

            .offer-info-tag{
                font-size: 1em;
                font-weight: 400;
                border-radius: 50px;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 1;
                border: none;
                background: #ffffff;
            }
        }
        .offer-info-description{
            width: 80%;
            margin:0 auto;
            word-break: break-all;
            font-size: 1em;
        }

        .border-b{
            border-bottom: 1px solid $silver;
        }
        .border-b-res{
            @media (max-width: $break-m){
                border-bottom: 1px solid $silver;
              }
        }

        .cross{
            text-align: center;
        }
        .offer-info-branches,.offer-info-additional,.offer-info-description{
            font-weight: 500;
        }
        .offer-info-additional,.offer-info-branches{
            font-size: 1em;
        }
        .offer-info-branches{
            font-size: 1.2em;
            word-break: normal;
            @media (min-width: $break-xl){
                font-size: 1.3em;
            }
        }


    }
    .offer-create-wrapper{
        position: absolute;
        z-index: 10;
        background: rgba(255,255,255, .8 );
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-family: 'Montserrat';
        color: #2C393F;

        .offer-create-box{
            background: #fff;
            min-height: 90vh;
            width: 100%;
            border-radius: 29px;
        }
        .branches{

            .branch{
                font-size: 1em;
                font-weight: 300;
                border-radius: 50px;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 1;
                border: none;
                background: #ffffff;
                span{
                    cursor: pointer;
                }
            }
            .list{
                overflow-y: auto;
                max-height: 60vh;

                @media screen and (max-width: $break-l){
                    overflow-y: hidden;
                    overflow-x: scroll;
                    max-height: 5em;
                    white-space: nowrap;
                    width:133.33333333%;
                    .branch{
                        display: inline-block;
                    }
                }
            }
        }
        .h10{
            height: 10%;
        }
        .h90{
            height: 90%;
        }
        input,.input{
            background: $silver;
            border : none;
            color: $secondary-color;
            border-radius : 27px;
            height: 3em;
            &:focus{
              outline: 0;
            }
            &[type="text"]{
              text-transform : capitalize;
              &:hover{
                cursor: text;
              }
            }
        }
          textarea{
            background: $silver;
            border : none;
            color: $secondary-color;
            border-radius : 27px;
            &:focus{
              outline: 0;
            }
          }
    }
    .submit-button {
        font-size: 1em;
        font-weight: 300;
        border-radius: 50px;
        text-transform: uppercase;
        color: white;
        position: relative;
        text-decoration: none;
        -webkit-backface-visibility: hidden;
        z-index: 1;
        border: none;
        display: inline-block;
        span {
          position: relative;
          z-index: 300;
        }

        &:focus {
          outline: 0;
        }

        &:after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            transition: opacity 0.5s ease-out;
            z-index: 2;
            opacity: 0;
        }

        &:hover:after{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }

    }

    .sign-in-button {
        background: linear-gradient(to left, $primary-color, #3a7bd5);
        margin:0 auto;

        &:after{
            background: linear-gradient(to right, $primary-color, #3a7bd5);
        }
    }
    .border-r{
          border-right: 1px solid $silver;
          @media (max-width: $break-m){
            border: none;
          }
    }
    .strong{
        font-weight: bold;
    }
    .scroll::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px $silver;
        border-radius: 10px;
        background-color: transparent;
    }

    .scroll::-webkit-scrollbar{
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    .scroll::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px $silver;
        background-color: $silver;
    }
    .bold{
        font-weight: 500;
    }
    .colorful-text{
        background: linear-gradient(to left, $primary-color 0%, #3a7bd5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,0.0001);
        border-radius: 27px;
        &.on{
            -webkit-background-clip: unset;
            -webkit-text-fill-color: white;
        }
    }
    .input-tag{
        height: 1.5em;
        background: #FFFFFF;
        border-radius: 29px;
    }
}
.push-home{
    position: relative;
    left: 22%;
    @media(max-width: 1200px){
        left: 32%;
    }
    @media(max-width: 860px){
        left: 40%;
    }
    @media(max-width: 670px){
        left: 58%;
    }
    @media(max-width: 520px){
        left: 72%;
    }
}

