@import url('https://fonts.googleapis.com/css?family=Krub:300,400,500,600,800&display=swap');
@import '~bootstrap/scss/bootstrap';
$primary-color : #00C7C7;
$secondary-color : #2c393f;
$silver : #EDEDED;
$error : #D50B0B;
@import './_authentication';
@import './_additional';
@import './_password-reset';
@import './_home';
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/

body{
  font-family: 'Krub', sans-serif;
  div#root{
    .home{
      background: {
        image : url('../images/background.png');
        size: cover;
        position: center;
        attachment: fixed;
      };
      width: 100vw;
      min-height: 100vh;
      .content{
        background-color: white;
        border-radius: 27px;
        .header{
          .finder{
            border: none;
            background-color: $silver;
            border-radius: 35px;
            font-size: 1.2em;
            font-family: Krub, serif;
            font-weight: 300;
            color: $secondary-color;

            ::-webkit-input-placeholder { /* Edge */
              font-family: Krub, serif;
              font-weight: 300;
              color: #C9C9C9;
              opacity: 1;
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
              font-family: Krub, serif;
              font-weight: 300;
              color: #C9C9C9;
              opacity: 1;
            }

            ::placeholder {
              font-family: Krub, serif;
              font-weight: 300;
              color: #8E8E8E;
              opacity: 1;
            }
          }
          .user-header-nofication{
            position: relative;
            .profile-photo{
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            .action-point{
              background: #40C410;
              position: absolute;
              z-index: 2;
              font-size: 0.8em;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              color: white;
              left: 10px;
              bottom: 0;
            }
          }
        }
        .message{
          font-size: 1.45em;
          font-family: Krub, serif;
          p{
            font-weight: 300;
            span{
              font-weight: 500;
            }
          }
        }
        .work-options{
          .work-option{
            .content{
              border-radius: 27px;
            }
          }
        }
      }
    }

  }

}
