@import url('https://fonts.googleapis.com/css?family=Krub:300,400,600,800&display=swap');
$primary-color : #00C7C7;
body{
  margin : 0;
  .registration-form{
    .content-frame{
      min-height: 70vh;
      .side-bar{
        border-right : 3px #EDEDED solid;
      }
      form{
        .data{

        }
      }
    }
  }
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  padding-left: 0.25em;
  font-size: 1.6em;
  border: 0;
  border-bottom: 1px solid #EDEDED;
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid $primary-color;
}

label {
  font-family: 'Krub', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-left: 0.25em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
//input:not(:placeholder-shown) + label,
input:focus + label {
  color: $primary-color;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

::-webkit-input-placeholder { /* Edge */
  font-family: 'Krub', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Krub', sans-serif;
}

::placeholder {
  font-family: 'Krub', sans-serif;
  padding-left: 0.25em;
  font-size: 1em;
}
.title{
  font-size: 2.250em;
  font-family: 'Krub', sans-serif;
  border-bottom: 1px solid #EDEDED;
  &:first-letter{
    text-transform: capitalize;
  }

}
.square{
   width: 12px;
   height: 12px;
   border: 1px solid $primary-color;
   border-radius : 2px;
 }
.circle{
  width: 12px;
  height: 12px;
  border: 1px solid $primary-color;
  border-radius : 5px;
}
.circle-filled{
  width: 12px;
  height: 12px;
  background: $primary-color;
  border-radius : 5px;
}
.square-filled{
  width: 12px;
  height: 12px;
  background: $primary-color;
  border-radius : 2px;
}
.main-title{
  font-size: 4em;
  font-family: 'Krub', sans-serif;
  font-weight: 800;
  color: #2C393F;
  text-transform: uppercase;
}
.doth{
  color : $primary-color;
}
.add{
  font-family: 'Krub', serif;
  color : $primary-color;
}
.languages .title-small, .driving_licence .title-small{
   font-family: "Krub", sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   padding-left: 0.25em;
 }
